################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HMS/.vs/HMS
/HMS/bin/Debug/net8.0-windows
/HMS/obj
